@import url(normalize.css);
@import url(grid.css);

/* General rules */
html,
body {
	height: 100%;
}

body {
	width: 100%;
	max-width: 1920px;
	font-family: 'Lato', sans-serif;
	background: #fff;
	font-size: 16px;
}

.row {
	width: 100%;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.col-3 {
	float: left;
	width: 25%;
	height: 45px;
	position: relative;
	text-align: center;
	box-sizing: border-box;
}

.active,
#one {
	color: #0ac5f4;
	border-bottom: 2px solid #0ac5f4;
}

#two,
#three,
#four {
	background: black;
	color: white;
}

h2 {
	font-family: 'Lato';
	font-weight: 400;
	font-size: .3em;
	margin: 0px;
	padding: 0px;
	line-height: 45px;
	position: absolute;
	width: 100%;
}

.contact-icons {
	display: inline-block;
	width: 100%;
	height: 50px;
	margin: 0 auto;
	padding: 0;
}

footer {
	position: absolute;
	width: 100%;
}
.contact-icons li {
	display: inline-block;
	list-style: none;
	padding: 15px;
	box-sizing: border-box;
}

.contact-icons li a {
	display: inline-block;
}

.email {
	background: url(../img/icons/email.png);
}
.gh {
	background: url(../img/icons/github.png)
}
.link {
	background: url(../img/icons/linkedin.png);
}
.fb {
	background: url(../img/icons/facebook.png);
}

.twit {
	background: url(../img/icons/twitter.png);
}
.icon {
	width: 50px;
	height: 50px;
	background-size: cover;
	opacity: .4;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	filter: grayscale(100%);

	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;

}

.icon:hover {
	opacity: 1;
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	filter: grayscale(0%);
}


/*#two {
	background: #FF6A00;
}

#three {
	background: #00A08A;
}

#four {
	background: #25D500;
}*/

.col-3:first-of-type {
	border-top-left-radius: 10px;
}

.col-3:last-of-type {
	border-top-right-radius: 10px;
}
.container {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.name, .content {
	background: black;
	margin: 0 auto;
	padding: auto;
	position: relative;
}

.col-3:hover {
	opacity: .95;
	cursor: pointer;
	border-bottom: 2px solid white;
	color: black;
}
.name {
	width: 100%;
}

.content {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	margin-top: 10px;
	/*height: 300px;*/
	width: 90%;
	color: white;
	padding-bottom: 15px;
}

.content:after,
.name:after {
	content: ' ';
	height: 0;
	position: absolute;
	width: 0;
	left: 50%;
}


.name:after {
	z-index: 1;
	border: 40px solid transparent;
	border-top-color: black;
	top: 100%;
	margin-left: -40px;
}

.content:after {
	border: 45px solid transparent;
	border-top-color: white;
	top: 0%;
	margin-left: -45px;
}

h1 {
	color: white;
	font-weight: 100;
	font-size: 8em;
	display: block;
}

.bottom {
	width: 100%;
	margin: 0 auto;
}
.bottom h1 {
	text-align: center;
	width: 100%;
	margin: 0 auto;
	color: black;
	padding: 0;
	font-size: 5em;
}


.word-box {
/*	position: relative;
*/	width: 100%;
}
.word {
	background: black;
	color: white;
	border-radius: 3px;
	height: 125px;
	box-sizing: border-box;
	line-height: 125px;
	font-size: 1.5em;
	margin: 3px 8px;
	font-weight: 100;
}

/* Extra */
nav {
	line-height: 45px;
}

nav ul {
	display: inline-block;
	padding: 0;
	margin: 0;
}

nav ul li {
	list-style: none;
	font-size: 1.7em;
}

main {
	font-weight: 400;
	width: 95%;
	margin: 2px auto;
	font-size: 1.2em;
}

main img {
	float: left;
	border-radius: 99px;
	border: 1px solid black;
	box-sizing: border-box;
	margin-right: 10px;
	opacity: .8;
	height: 110px;
}

main p {
	text-align: left;
}
.bold {
	color: #FB0;
	font-weight: bold;
}
/* Media queries */


@media screen and (max-width: 759px) {
	.icon {
		width: 50px;
		height: 50px;
		padding: 20px;
	}
}
@media screen and (max-width: 1280px) {
	.container,
	.name,
	.content,
	.bottom {
		width: 100%;
		border-radius: 0px;
	}

	.col-3:first-of-type {
		border-top-left-radius: 0px;
	}

	.col-3:last-of-type {
		border-top-right-radius: 0px;
	}

	.name:after {
		border: 20px solid transparent;
		border-top-color: black;
		margin-left: -20px;
	}

	.content:after {
		border: 25px solid transparent;
		border-top-color: white;
		margin-left: -25px;
	}

	main img {
		height: 130px;
	}

}

