@import url(normalize.css);


/* General rules */
body {
	width: 100%;
	max-width: 1920px;
	font-family: 'Lato', sans-serif;
	background: #fff;
	font-size: 16px;
}

.row {
	width: 100%;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.col-3 {
	float: left;
	width: 25%;
	height: 45px;
	position: relative;
	text-align: center;
	box-sizing: border-box;
}

#one {
	background: #F60018;
}

h2 {
	font-family: 'Lato';
	font-weight: 400;
	font-size: .3em;
	margin: 0px;
	padding: 0px;
	line-height: 45px;
	position: absolute;
	width: 100%;
}

.active {
	height: 60px;
}

.active:hover {
	opacity: 1;
}
#two {
	background: #FF6A00;
}

#three {
	background: #00A08A;
}

#four {
	background: #25D500;
}

.col-3:first-of-type {
	border-top-left-radius: 10px;
}

.col-3:last-of-type {
	border-top-right-radius: 10px;
}
.container {
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

.name, .content {
	background: black;
	margin: 0 auto;
	border-radius: 10px;
	padding: auto;
	position: relative;
}

.col-3:hover {
	opacity: .95;
	cursor: pointer;
	border-bottom: 2px solid white;
	color: black;
}
.name {
	width: 90%;
}

.content {
	margin-top: 10px;
	/*height: 300px;*/
	width: 90%;
	color: white;
	padding-bottom: 15px;
}

.content:after,
.name:after {
	content: ' ';
	height: 0;
	position: absolute;
	width: 0;
	left: 50%;
}


.name:after {
	z-index: 1;
	border: 40px solid transparent;
	border-top-color: black;
	top: 100%;
	margin-left: -40px;
}

.content:after {
	border: 45px solid transparent;
	border-top-color: white;
	top: 0%;
	margin-left: -45px;
}

h1 {
	color: white;
	font-weight: 100;
	font-size: 8em;
	display: block;
}

.bottom {
	width: 100%;
	margin: 0 auto;
}
.bottom h1 {
	text-align: center;
	width: 100%;
	margin: 0 auto;
	color: black;
	padding: 0;
	font-size: 5em;
}


.word-box {
/*	position: relative;
*/	width: 100%;
}
.word {
	background: black;
	color: white;
	border-radius: 3px;
	height: 125px;
	box-sizing: border-box;
	line-height: 125px;
	font-size: 1.5em;
	margin: 3px 8px;
	font-weight: 100;
}

/* Extra */
nav {
	line-height: 45px;
}

nav ul {
	display: inline-block;
	padding: 0;
	margin: 0;
}

nav ul li {
	list-style: none;
	font-size: 1.7em;
}

main {
	font-weight: 400;
	width: 95%;
	margin: 2px auto;
	font-size: 1.2em;
}

main img {
	float: left;
	border-radius: 99px;
	border: 1px solid black;
	box-sizing: border-box;
	margin-right: 10px;
	opacity: .8;
	height: 110px;
}

main p {
	text-align: left;
}
.bold {
	color: #FB0;
	font-weight: bold;
}
/* Media queries */

@media screen and (max-width: 1280px) {
	.container,
	.name,
	.content,
	.bottom {
		width: 100%;
		border-radius: 0px;
	}

	.col-3:first-of-type {
		border-top-left-radius: 0px;
	}

	.col-3:last-of-type {
		border-top-right-radius: 0px;
	}

	.name:after {
		border: 20px solid transparent;
		border-top-color: black;
		margin-left: -20px;
	}

	.content:after {
		border: 25px solid transparent;
		border-top-color: white;
		margin-left: -25px;
	}

	main img {
		height: 130px;
	}
}

/*Grid styling */
.pure-g {
    letter-spacing: -0.31em;
    *letter-spacing: normal;
    *word-spacing: -0.43em;
    text-rendering: optimizespeed;
}

.opera-only :-o-prefocus,
.pure-g {
    word-spacing: -0.43em;
}


.pure-u {
    display: inline-block;
    zoom: 1; *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}


.pure-u-1,.pure-u-1-2 {
    display: inline-block;
    zoom: 1; *display: inline; 
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}



.pure-u-1 {
    display:block;
}




    
    
        .pure-u-1-2 {
            width: 50%;
        }

        .pure-offset-1-2 {
            margin-left: 50%;
        }
    





    
    .pure-g-r {
        letter-spacing: -0.31em; 
        *letter-spacing: normal; 
        word-spacing: -0.43em; 
    }


    .opera-only :-o-prefocus,
    .pure-g-r {
        word-spacing: -0.43em;
    }


    .pure-g-r img {
        max-width: 100%;
    }

    
    
        @media (min-width:980px) {
            .pure-visible-phone     { display: none; }
            .pure-visible-tablet    { display: none; }
            .pure-visible-desktop   { }
            .pure-hidden-phone      { }
            .pure-hidden-tablet     { }
            .pure-hidden-desktop    { display: none; }
        }

    

    
        @media (max-width:480px) {
            .pure-g-r > [class ^= "pure-u"] {
                width:100%;
            }
        }
    

    
        @media (max-width:767px) {

            .pure-g-r > [class ^= "pure-u"] {
                width:100%;
            }            
            .pure-visible-phone     { } 
            .pure-hidden-phone      { display: none; }
            .pure-hidden-desktop    { }
            .pure-visible-desktop   { display: none; }
        }
    

    
        @media (min-width:768px) and (max-width:979px) {
            .pure-visible-tablet    {}
            .pure-hidden-tablet     { display: none; }
            .pure-hidden-desktop    {}
            .pure-visible-desktop   { display: none; }
        }
